
  <div class="card card-stats">
    <div class="card-header card-header-{{className}} card-header-icon">
      <div class="card-icon">
        <i class="material-icons">{{iconName}}</i>
      </div>
      <p class="card-category">{{title}}</p>
      <div *ngIf="prefix">
        <small>{{prefix}}</small>
      </div>
      <h3 class="card-title">{{valueToCard}}</h3>
        <div *ngIf="suffix">
          <small>{{suffix}}</small>
        </div>
    </div>
    <div class="card-footer">
      <div class="stats">
        <i class="material-icons text-secondary">{{iconFooterName}}</i>
        {{footerDescription}}
      </div>
    </div>
  </div>
