md-grid-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.example-container {
  height: 100%;
  border: 1px solid #555;
}

mat-drawer {
  width: 200px;
}

mat-grid-tile {

}
